body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #fff5e4;
  color: #ff9494;
}

#thankyou {
  font-size: 50px;
  margin-bottom: 20px;
}

.rizz {
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  box-shadow: 1px 1px 2px #ff9494;
  transition: 0.3s;
}

.button:hover {
  background-color: #ff9494;
  color: #ffe3e1;
  border: 2px solid #ff9494;
  box-shadow: 1px 1px 2px #ffe3e1;
}

.dot {
  width: 35px;
  height: 35px;
  position: absolute;
  background: url(https://image.ibb.co/kyUHab/rose.png);
  background-size: 100% 100%;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  #thankyou {
    font-size: 30px;
  }

  .button {
    font-size: 16px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  #thankyou {
    font-size: 24px;
  }

  .button {
    font-size: 14px;
    padding: 6px 12px;
  }
}